@import "tailwindcss";
@theme {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: clamp(1.125rem, 1.5vw + 0.5rem, 1.25rem);
  --font-size-2xl: clamp(1.25rem, 2vw + 0.5rem, 1.5rem);
  --font-size-3xl: clamp(1.5rem, 3vw + 0.5rem, 1.875rem);
  --font-size-4xl: clamp(1.75rem, 4vw + 0.5rem, 2.25rem);
  --font-size-5xl: clamp(2rem, 5vw + 0.5rem, 3rem);
  --font-size-6xl: clamp(2.5rem, 6vw + 0.5rem, 3.75rem);
  
  --color-primary: #1d4ed8;
  --color-stone-500: #78716c;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Geist:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', 'Geist', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

section {
  overflow-x: hidden;
}
